{% extends 'base.html' %}

{% block content %}

<h1 class="text-center pt-3">Projeto Escola</h1>
<h2 class="text-center">Um projeto Django</h2>

<hr>

<h2>Descrição Básica</h2>

<p class="lead">Este projeto é um sistema de gerenciamento de uma escola,
    com área de administração personalizada para que o registro escolar possa cadastar alunos e professores,
    além de definir horários e disciplinas.
</p>

<p class="lead">Os professoeres possuem um dashboard personalizado, permitindo listar
    todas as disciplinas em que ele leciona aulas, alem de cadastrar avaliações e lançar notas aos alunos.
</p>

<p class="lead">
    Os alunos por sua vez, contam com um dashboard que os permitem ver as disciplinas, e as notas lançadas
    de cada uma das respectivas avaliações.
</p>

{% endblock content %}