{% extends 'base.html' %}

{% block content %}

<div class="container">
    {{disciplina}} | {{avaliacao}} <br>

    {% if error %}{{error}}{% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {% for aluno in alunos %}
        <div class="form-group">
            <label for="{{aluno.matricula}}">{{aluno.user.get_full_name}}</label>
            <input type="number" class="form-control" name="{{aluno.matricula}}" id="{{aluno.matricula}}"
                aria-describedby="helpId" placeholder="" min="0" max="{{avaliacao.valor}}">
        </div>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock content %}