{% extends 'base.html' %}

{% block content %}

<h1 class="text-center pt-5 pb-1">Lista de Disciplinas</h1>
<hr>

{% for disciplina in disciplinas %}

<div class="card text-left border-dark mb-4">
  <div class="card-body">
    <h2 class="card-title">{{disciplina.curso.nome}}</h2>
    <p> {{disciplina.horario}}</p>
    <hr> <br>
    <div class="row">
      <div class="col-6">
        <h3>Avaliações:</h3>
      </div>
      <div class="col-6">
        <div class="text-right">
          <a href="{% url 'create_avaliacao' disciplina.id %}" class="btn btn-primary">Nova Avaliação</a>
        </div>
      </div>
    </div>
    <br>
    <div class="card-columns">
      {% for avaliacao in disciplina.avaliacoes.all %}
      <div class="card text-center {%if avaliacao.nota_eh_lancada %}border-success{% else %}border-danger{% endif %}">
        <div class="card-body">
          <h5 class="card-title">
            <a class="text-decoration-none text-dark" href="{% url 'detail_avaliacao_aluno' avaliacao.id %}">
              {{avaliacao.nome | upper}} 
            </a>
          </h5>
          <a href="{% url 'update_avaliacao' avaliacao.id %}">Editar</a> |
          <a href="{% url 'delete_avaliacao' avaliacao.id %}">Remover</a>
          <br>
          {% if not avaliacao.nota_eh_lancada %}
          <a href="{% url 'larcar_notas' disciplina.id avaliacao.id %}">
            Lançar Notas
          </a>
          {% else %}
          Notas já foram lançadas
          {% endif %}
          <span class="badge badge-{%if avaliacao.nota_eh_lancada %}secondary{% else %}primary{% endif %}">{{avaliacao.valor}}</span>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="text-right">
      {% for dicionario in total_por_disciplina %}
      {% if dicionario.disciplina == disciplina %}
      Total de notas do semestre: <strong>
        {% if dicionario.total.valor__sum %}{{dicionario.total.valor__sum}}{% else %}0.0{% endif %}
      </strong>
      {% endif %}
      {% endfor %}
    </div>
    <hr>
    <h4 class="text-right"> <a href="{% url 'list_nota_disciplina' disciplina.id %}">Estudantes Matriculados</a></h4>

  </div>
</div>


{% endfor %}

{% endblock content %}