{% extends 'base.html' %}

{% block content %}

{% for subject in classes %}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{subject.course.name}}</h4>
        <p class="card-text">{{subject.schedule}}</p>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#contentId" aria-expanded="false"
                aria-controls="contentId">
                Show Grades
            </a>
        </p>
        <div class="collapse" id="contentId">
            <h5>Evaluations</h5>

            <table class="table w-100 table-striped table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Test Name</th>
                        <th>Test type</th>
                        <th>Value</th>
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for grade in grades %}
                    {% if grade.course_class.course.name == subject.course.name%}
                    <tr>
                        <td scope="row">{{grade.evaluation.name}} </td>
                        <td>{{grade.evaluation.test_type}} </td>
                        <td>{{grade.evaluation.value}} </td>
                        <td>{{grade.value}} </td>

                    </tr>
                    {% endif %}
                    {% endfor %}
                    <tr>
                        <td class="text-right table-warning" colspan="3">Final Grade:</td>
                        <td class="table-warning">
                            {% for total in totals %}
                            {% if total.class == subject.course.name %}
                            {{total.grade}}
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endfor %}

{% endblock content %}